*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

/************ NAV ************/
header {
  width: 100%;
  height: 4.4rem;
  background: rgba(45, 45, 45, 0.98);
  position: fixed;
  z-index: 1000;
  font-weight: 100;

  nav {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
    // height: 44px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: -4px;
  }
  .nav-list-mobile {
    display: none;
  }

  .nav-link {
    font-size: 1.4rem;
    color: #fff;
    line-height: 4.4rem;
    padding: 0 1rem;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
  .nav-icon {
    width: 1.6rem;
    height: 4.4rem;
  }
  .nav-link-apple {
    // background: url(images/icons/apple.svg) center no-repeat;
    background: url(images/icons/pera.svg) center no-repeat;
    // background: url(images/icons/kisspng-logo-the-pear-theatre-ipear-store-5af8c39ce9ec37.7244851915262524449582.png)
    //   center no-repeat;
    // background-size: 25px 25px;
  }

  .nav-link-search {
    background: url(images/icons/search.svg) center no-repeat;
  }

  .nav-link-bag {
    background: url(images/icons/bag.svg) center no-repeat;
  }
}

/************ SECTION ************/

.hero {
  --content-height: 69.2rem;
  --content-padding: 0rem;
  --content-border: 0rem;
  height: calc(
    var(--content-height) + var(--content-border) + var(--content-padding)
  );
  // height: 69.2rem;
  //   background-size: auto 74.8rem;
  //   background-size: auto cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;

  &-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
    font-weight: 500;
  }
  &-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 300;
  }
  &-price {
    font-size: 1.7rem;
    color: #888;
    margin-top: 0.68rem;
  }
}
.title-dark {
  color: #000;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
  &-link {
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;

    &:nth-child(2) {
      margin-left: 2.6rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.cta {
  &-link-darker {
    color: #0070c9;
  }
}

/************ IPHONE - 11 - PRO ************/

.iphone-11-pro {
  background-image: url(images/hero/iphone-11-pro/iphone-11-pro-large.jpg);
  padding-top: 4.4rem;
  border-top: none;
  --content-padding: 4.4rem;
  --content-border: 0.6rem;
}

/************ IPHONE - 11 - PRO ************/

.iphone-11 {
  background-image: url(images/hero/iphone-11/iphone11large.jpg);
  --content-border: 1.2rem;
}

/************ WATCH************/

.watch {
  background-image: url(images/hero/watch/watch-5-large.jpg);
  --content-border: 1.2rem;
}

.title-heading-watch {
  height: 7.8rem;
  background: url(images/hero/watch/logo_watch_large.png) center no-repeat;
  background-size: 20.7rem 7.8rem;
}
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/

.collection {
  display: flex;
  flex-wrap: wrap;
  background-color: tomato;

  section {
    flex-basis: 50%;
    height: 58rem;
    border-style: solid;
    border-color: #fff;
    border-top-width: 6px;
    border-bottom-style: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:nth-child(odd) {
      border-left-width: 12px;
      border-right-width: 6px;
    }
    &:nth-child(even) {
      border-left-width: 6px;
      border-right-width: 12px;
    }
  }

  .apple-watch-studio {
    background-image: url(images/hero/watchseries-card/watch-series-large.jpg);
  }

  .ipad-studio {
    background-image: url(images/hero/ipad-card/ipad-large.jpg);
  }

  .tv {
    background-image: url(images/hero/tv-card/tv-monster-large.jpg);
  }
  .credit-card {
    background-image: url(images/hero/applecard-card/card-large.jpg);
  }
  .arcade {
    background-image: url(images/hero/arcade-card/arcade-large.jpg);
  }
  .macbook {
    background-image: url(images/hero/macbook-pro-card/macbook-pro-large.jpg);
  }

  .flex-title {
    text-align: center;
    color: rgb(17, 17, 17);

    &-heading {
      font-size: 4rem;
      font-weight: 500;
      margin-top: 52px;
    }

    &-sub-heading {
      font-size: 2.1rem;
      font-weight: 300;
      margin-top: 6px;
      width: 88%;
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
    }
    &-white {
      color: #fff;
    }
    &-heading-ipad {
      height: 5.8rem;
      background: url(images/hero/ipad-card/ipad-medium-logo.png) center
        no-repeat;
      background-size: 76px 58px;
      margin-top: 3.3rem;
    }
    &-heading-card {
      height: 3.2rem;
      background: url(images/hero/applecard-card/card-medium-logo.png) center
        no-repeat;
      background-size: 236px 32px;
      margin-top: 5.6rem;
    }

    &-heading-arcade {
      height: 3.6rem;
      background: url(images/hero/arcade-card/arcade-medium-logo.png) center
        no-repeat;
      background-size: 152px 36px;
      margin-top: 5.5rem;
    }

    &-heading-tv {
      height: 3.1rem;
      background: url(images/hero/tv-card/tv-monster-medium-logo.png) center
        no-repeat;
      background-size: 81px 31px;
      margin-top: 5.7rem;
    }

    &-sub-heading-tv {
      height: 5.5rem;
      background: url(images/hero/tv-card/tv-monster-medium-logo-down.png)
        center no-repeat;
      background-size: 190px 55px;
      margin-top: 0.4rem;
    }
  }

  .flex-cta {
    text-align: center;
    margin-top: 1.26rem;
    &-link {
      font-size: 1.7rem;
      font-weight: 200;
      color: #0070c9;
      display: inline-block;
      &:nth-child(2) {
        margin-left: 2.6rem;
      }
      &:hover {
        text-decoration: underline;
      }
      &-white {
        color: #fff;
      }
      span {
        position: relative;
        padding-left: 6px;
        font-size: 1.3rem;
      }
    }
  }

  .tv {
    .container {
      height: 100%;
    }
    .flex-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .sub-flex-title {
      margin: 13.6px 0 57px;
    }
  }
}

/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/

/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/

footer {
  border-top: 6px solid #fff;
  font-size: 1.2rem;
  line-height: 1.33337;
  font-weight: 300;
  // letter-spacing: -0.12px;
  background-color: #f5f5f7;
  color: #1d1d1f;
  .container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
  }
  /************ FIRST CONTENT ************/
  .first-content {
    padding: 1.7rem 0 1.1rem;
    color: #86868b;
    border-bottom: 1px solid #d2d2d7;
  }
  .footer-list {
    list-style: none;
    &-item {
      padding-bottom: 0.96rem;
      a {
        display: inline-block;
        text-decoration: none;
        color: #515154;

        &:hover {
          color: #1d1d1f;
          text-decoration: underline;
        }
      }
    }
  }
  /************ SECOND CONTENT ************/
  .second-content {
    padding-top: 2rem;
    display: flex;
    flex-wrap: nowrap;

    .footer-list-item {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .sub-content {
    flex-basis: 25%;
    &-section {
      & ~ .sub-content-section {
        padding-top: 24px;
      }
    }
  }

  label h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 2rem;
    margin-bottom: 0.96rem;
  }

  .toggle-box {
    display: none;
  }
  /************ THRID CONTENT ************/
  .third-content {
    letter-spacing: 0;
    padding: 17px 0 21px;
    padding-top: 34px;
    color: #86868b;
  }
  .footer-shop {
    padding-bottom: 8px;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 7px;
    a {
      display: inline-block;
      color: #06c;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-legal {
    display: flex;
  }

  .footer-legal-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    // top: -5px;
    a {
      display: inline-block;
      color: #515154;
      text-decoration: none;
      padding-right: 10px;
      margin-right: 7px;

      &:not(:last-of-type) {
        border-right: 1px solid #d2d2d7;
      }
      &:hover {
        color: #1d1d1f;
        text-decoration: underline;
      }
    }
  }

  .footer-locale {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      color: #515154;
      text-decoration: none;
      &:hover {
        color: #1d1d1f;
        text-decoration: underline;
      }
    }
    span {
      text-align: center;
      width: 16px;
      height: 16px;
      background-image: url(images/icons/USA-flag.png);
      background-size: 16px 16px;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
@media screen and (max-width: 1068px) {
  .hero {
    --content-height: 65rem;
    background-position: bottom center;
  }
  .iphone-11-pro {
    background-image: url(images/hero/iphone-11-pro/iphone-11-pro-medium.jpg);
  }
  .iphone-11 {
    background-image: url(images/hero/iphone-11/iphone11-medium.jpg);
  }

  .watch {
    background-image: url(images/hero/watch/watch-5-medium.jpg);
  }

  .title {
    &-heading {
      font-size: 4.4rem;
    }
    &-sub-heading {
      font-size: 2.4rem;
    }
  }
  .title-heading-watch {
    height: 6.2rem;
    background-image: url(images/hero/watch/logo_watch_large.png);
    background-size: 16.3rem 6.2rem;
  }
  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);

    nav {
      padding: 0;
      //   height: 4.8rem;
      position: relative;

      .nav-list {
        margin: 0;
      }

      .nav-list-mobile {
        display: flex;
      }

      .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
      }
      .nav-item-hidden {
        display: none;
      }
      .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .nav-link {
        font-size: 1.7rem;
        padding: 0;
        margin: auto 0;
      }
    }
    .line {
      position: absolute;
      width: 1.7rem;
      height: 1px;
      background-color: #fff;
      transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top {
      margin-top: 3px;
    }
    .line-bottom {
      margin-top: -4px;
    }

    &.active .line-top {
      margin-top: 0;
      transform: rotate(45deg);
      transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }
    &.active .line-bottom {
      margin-top: 0;
      transform: rotate(-45deg);
      transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    &.active {
      height: 100%;
      background-color: #000;
    }
    .nav-link-apple {
      width: 1.8rem;
      height: 4.8rem;
      position: relative;
      z-index: 1500;
    }

    .nav-link-bag {
      width: 1.6rem;
      height: 4.8rem;
      transition: opacity 3s;
    }
    .nav-list-larger {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      display: block;
      padding: 10.5rem 5rem;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }

    .nav-list-larger .nav-item {
      width: 100%;
      justify-content: flex-start;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    .nav-list-larger .nav-item:nth-child(9) {
      border-bottom: none;
    }
    &.active .nav-list-larger {
      width: 100%;
      height: 100vh;
      opacity: 1;
      visibility: visible;
    }

    &.active .nav-link-bag {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &.active .nav-list-larger .nav-item {
      animation: fadeIn 1s ease-in;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  footer {
    /************ SECOND CONTENT ************/
    .second-content {
      flex-direction: column;
    }
    .sub-content {
      flex-basis: auto;
      //   background-color: violet;
      &-section {
        position: relative;
        z-index: 1;
        overflow: hidden;
        // pointer-events: auto;
        border-bottom: 1px solid #d2d2d7;
        & ~ .sub-content-section {
          padding-top: 0;
        }
      }

      .footer-list {
        visibility: hidden;
        margin: 0;
        overflow: hidden;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: -1;
        transform: translateY(-100px);
        &-item {
          padding-bottom: 0;
          a {
            display: block;
            padding: 0.6rem 1.4rem;
          }
        }
      }
    }

    label h3 {
      position: relative;
      font-weight: 400;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      z-index: 2;
      background-color: #f5f5f7;

      &::after {
        content: "+";
        float: right;
        font-size: 1.4rem;
        margin-top: -2px;
        margin-right: 0.8rem;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      }
    }

    .toggle-box {
      display: none;
      &:checked ~ label ~ .footer-list {
        position: static;
        visibility: visible;
        z-index: 1;
        transform: none;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      }
      &:checked ~ label h3::after {
        transform: rotate(45deg) scale(1.08);
      }
    }

    /************ THRID CONTENT ************/

    .third-content {
      padding-top: 17px;
    }
    .footer-shop {
      padding-bottom: 8px;
      margin-bottom: 7px;
      border: none;
    }
    .footer-legal {
      flex-direction: column;
    }
    .footer-legal-copyright {
      // margin-bottom: 0.8rem;
    }
    .footer-legal-links {
      flex-grow: 0;
      justify-content: flex-start;
      flex-wrap: wrap;
      // background: brown;
      a {
        margin-top: 5px;
      }
    }

    .footer-locale {
      order: -1;
      flex-grow: 0;
      justify-content: flex-start;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 735px) {
  .hero {
    --content-height: 50rem;
  }
  .iphone-11-pro {
    background-image: url(images/hero/iphone-11-pro/iphone-11-pro-small.jpg);
  }
  .iphone-11 {
    background-image: url(images/hero/iphone-11/iphone11-small.jpg);
  }

  .watch {
    background-image: url(images/hero/watch/watch-5-small.jpg);
    h3 {
      line-height: 2.7rem;
    }
  }

  .title {
    padding-top: 3.7rem;
    &-heading {
      font-size: 3.2rem;
    }
    &-sub-heading {
      font-size: 1.9rem;
    }
    &-price {
      font-size: 1.4rem;
    }
  }
  .title-heading-watch {
    margin-top: -0.5rem;
  }
  .cta {
    margin-top: 0.7rem;
    &-link {
      font-size: 1.9rem;
    }
  }

  .collection {
    section {
      flex-basis: 100%;
      height: 51.2rem;
      border-width: 6px 0;
      &:nth-child(odd) {
        border-left-width: 0px;
        border-right-width: 0px;
      }
      &:nth-child(even) {
        border-left-width: 0px;
        border-right-width: 0px;
      }
    }
    .apple-watch-studio {
      background-image: url(images/hero/watchseries-card/watch-series-small.jpg);

      h5 {
        width: 20.2rem;
      }
    }

    .ipad-studio {
      background-image: url(images/hero/ipad-card/ipad-small.jpg);
    }

    .tv {
      background-image: url(images/hero/tv-card/tv-monster-large.jpg);
    }
    .credit-card {
      background-image: url(images/hero/applecard-card/card-small.jpg);
      h5 {
        max-width: 35rem;
      }
    }
    .arcade {
      background-image: url(images/hero/arcade-card/arcade-small.jpg);
    }
    .macbook {
      background-image: url(images/hero/macbook-pro-card/macbook-pro-small.jpg);
    }

    .flex-title {
      &-heading {
        font-size: 3.2rem;
        font-weight: 500;
        margin-top: 3.7rem;
      }

      &-sub-heading {
        font-size: 1.9rem;
        margin-top: 9px;
      }

      &-heading-ipad {
        height: 5.8rem;
        background: url(images/hero/ipad-card/ipad-medium-logo.png) center
          no-repeat;
        background-size: 76px 58px;
        margin-top: 3.3rem;
      }
      &-heading-card {
        height: 2.6rem;
        background-size: 19.7rem 2.6rem;
        margin-top: 4.1rem;
      }

      &-heading-arcade {
        height: 3rem;
        background-size: 12.7rem 3rem;
        margin-top: 4.1rem;
      }

      &-heading-tv {
        height: 2.6rem;
        background-size: 5.9rem 2.6rem;
        margin-top: 4.5rem;
      }

      &-sub-heading-tv {
        height: 4.9rem;
        background-size: 15.8rem 4.9rem;
      }
    }
    .tv {
      .sub-flex-title {
        margin: 1.36rem 0 3.5rem;
      }
    }

    .flex-cta {
      margin-top: 1.26rem;
      &-link {
        font-size: 1.7rem;
        &:nth-child(2) {
          margin-left: 2.6rem;
        }
        span {
          padding-left: 6px;
          font-size: 1.3rem;
        }
      }
    }
  }
}
