*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

/************ NAV ************/
header {
  width: 100%;
  height: 4.4rem;
  background: rgba(45, 45, 45, 0.98);
  position: fixed;
  z-index: 1000;
  font-weight: 100;
}

header nav {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -4px;
}

header .nav-list-mobile {
  display: none;
}

header .nav-link {
  font-size: 1.4rem;
  color: #fff;
  line-height: 4.4rem;
  padding: 0 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header .nav-link:hover {
  opacity: 0.7;
}

header .nav-icon {
  width: 1.6rem;
  height: 4.4rem;
}

header .nav-link-apple {
  background: url(images/icons/apple.svg) center no-repeat;
}

header .nav-link-search {
  background: url(images/icons/search.svg) center no-repeat;
}

header .nav-link-bag {
  background: url(images/icons/bag.svg) center no-repeat;
}

/************ SECTION ************/
.hero {
  --content-height: 69.2rem;
  --content-padding: 0rem;
  --content-border: 0rem;
  height: calc( var(--content-height) + var(--content-border) + var(--content-padding));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -0.005rem;
  font-weight: 500;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 300;
}

.title-price {
  font-size: 1.7rem;
  color: #888;
  margin-top: 0.68rem;
}

.title-dark {
  color: #000;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  text-decoration: underline;
}

.cta-link-darker {
  color: #0070c9;
}

/************ IPHONE - 11 - PRO ************/
.iphone-11-pro {
  background-image: url(images/hero/iphone-11-pro/iphone-11-pro-large.jpg);
  padding-top: 4.4rem;
  border-top: none;
  --content-padding: 4.4rem;
  --content-border: 0.6rem;
}

/************ IPHONE - 11 - PRO ************/
.iphone-11 {
  background-image: url(images/hero/iphone-11/iphone11large.jpg);
  --content-border: 1.2rem;
}

/************ WATCH************/
.watch {
  background-image: url(images/hero/watch/watch-5-large.jpg);
  --content-border: 1.2rem;
}

.title-heading-watch {
  height: 7.8rem;
  background: url(images/hero/watch/logo_watch_large.png) center no-repeat;
  background-size: 20.7rem 7.8rem;
}

/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: tomato;
}

.collection section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 58rem;
  border-style: solid;
  border-color: #fff;
  border-top-width: 6px;
  border-bottom-style: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection section:nth-child(odd) {
  border-left-width: 12px;
  border-right-width: 6px;
}

.collection section:nth-child(even) {
  border-left-width: 6px;
  border-right-width: 12px;
}

.collection .apple-watch-studio {
  background-image: url(images/hero/watchseries-card/watch-series-large.jpg);
}

.collection .ipad-studio {
  background-image: url(images/hero/ipad-card/ipad-large.jpg);
}

.collection .tv {
  background-image: url(images/hero/tv-card/tv-monster-large.jpg);
}

.collection .credit-card {
  background-image: url(images/hero/applecard-card/card-large.jpg);
}

.collection .arcade {
  background-image: url(images/hero/arcade-card/arcade-large.jpg);
}

.collection .macbook {
  background-image: url(images/hero/macbook-pro-card/macbook-pro-large.jpg);
}

.collection .flex-title {
  text-align: center;
  color: #111111;
}

.collection .flex-title-heading {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 52px;
}

.collection .flex-title-sub-heading {
  font-size: 2.1rem;
  font-weight: 300;
  margin-top: 6px;
  width: 88%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.collection .flex-title-white {
  color: #fff;
}

.collection .flex-title-heading-ipad {
  height: 5.8rem;
  background: url(images/hero/ipad-card/ipad-medium-logo.png) center no-repeat;
  background-size: 76px 58px;
  margin-top: 3.3rem;
}

.collection .flex-title-heading-card {
  height: 3.2rem;
  background: url(images/hero/applecard-card/card-medium-logo.png) center no-repeat;
  background-size: 236px 32px;
  margin-top: 5.6rem;
}

.collection .flex-title-heading-arcade {
  height: 3.6rem;
  background: url(images/hero/arcade-card/arcade-medium-logo.png) center no-repeat;
  background-size: 152px 36px;
  margin-top: 5.5rem;
}

.collection .flex-title-heading-tv {
  height: 3.1rem;
  background: url(images/hero/tv-card/tv-monster-medium-logo.png) center no-repeat;
  background-size: 81px 31px;
  margin-top: 5.7rem;
}

.collection .flex-title-sub-heading-tv {
  height: 5.5rem;
  background: url(images/hero/tv-card/tv-monster-medium-logo-down.png) center no-repeat;
  background-size: 190px 55px;
  margin-top: 0.4rem;
}

.collection .flex-cta {
  text-align: center;
  margin-top: 1.26rem;
}

.collection .flex-cta-link {
  font-size: 1.7rem;
  font-weight: 200;
  color: #0070c9;
  display: inline-block;
}

.collection .flex-cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.collection .flex-cta-link:hover {
  text-decoration: underline;
}

.collection .flex-cta-link-white {
  color: #fff;
}

.collection .flex-cta-link span {
  position: relative;
  padding-left: 6px;
  font-size: 1.3rem;
}

.collection .tv .container {
  height: 100%;
}

.collection .tv .flex-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.collection .tv .sub-flex-title {
  margin: 13.6px 0 57px;
}

/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
/************ COLLECTION ************/
footer {
  border-top: 6px solid #fff;
  font-size: 1.2rem;
  line-height: 1.33337;
  font-weight: 300;
  background-color: #f5f5f7;
  color: #1d1d1f;
  /************ FIRST CONTENT ************/
  /************ SECOND CONTENT ************/
  /************ THRID CONTENT ************/
}

footer .container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

footer .first-content {
  padding: 1.7rem 0 1.1rem;
  color: #86868b;
  border-bottom: 1px solid #d2d2d7;
}

footer .footer-list {
  list-style: none;
}

footer .footer-list-item {
  padding-bottom: 0.96rem;
}

footer .footer-list-item a {
  display: inline-block;
  text-decoration: none;
  color: #515154;
}

footer .footer-list-item a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}

footer .second-content {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .second-content .footer-list-item:last-child {
  padding-bottom: 0;
}

footer .sub-content {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

footer .sub-content-section ~ .sub-content-section {
  padding-top: 24px;
}

footer label h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 2rem;
  margin-bottom: 0.96rem;
}

footer .toggle-box {
  display: none;
}

footer .third-content {
  letter-spacing: 0;
  padding: 17px 0 21px;
  padding-top: 34px;
  color: #86868b;
}

footer .footer-shop {
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 7px;
}

footer .footer-shop a {
  display: inline-block;
  color: #06c;
  text-decoration: none;
}

footer .footer-shop a:hover {
  text-decoration: underline;
}

footer .footer-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-legal-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

footer .footer-legal-links a {
  display: inline-block;
  color: #515154;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 7px;
}

footer .footer-legal-links a:not(:last-of-type) {
  border-right: 1px solid #d2d2d7;
}

footer .footer-legal-links a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}

footer .footer-locale {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-locale a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #515154;
  text-decoration: none;
}

footer .footer-locale a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}

footer .footer-locale span {
  text-align: center;
  width: 16px;
  height: 16px;
  background-image: url(images/icons/USA-flag.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
}

/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
/************ MEDIA ************/
@media screen and (max-width: 1068px) {
  .hero {
    --content-height: 65rem;
    background-position: bottom center;
  }
  .iphone-11-pro {
    background-image: url(images/hero/iphone-11-pro/iphone-11-pro-medium.jpg);
  }
  .iphone-11 {
    background-image: url(images/hero/iphone-11/iphone11-medium.jpg);
  }
  .watch {
    background-image: url(images/hero/watch/watch-5-medium.jpg);
  }
  .title-heading {
    font-size: 4.4rem;
  }
  .title-sub-heading {
    font-size: 2.4rem;
  }
  .title-heading-watch {
    height: 6.2rem;
    background-image: url(images/hero/watch/logo_watch_large.png);
    background-size: 16.3rem 6.2rem;
  }
  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
    -webkit-transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
  header nav {
    padding: 0;
    position: relative;
  }
  header nav .nav-list {
    margin: 0;
  }
  header nav .nav-list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .nav-item-hidden {
    display: none;
  }
  header nav .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  header nav .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }
  header .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff;
    -webkit-transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  header .line-top {
    margin-top: 3px;
  }
  header .line-bottom {
    margin-top: -4px;
  }
  header.active .line-top {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  header.active .line-bottom {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  header.active {
    height: 100%;
    background-color: #000;
  }
  header .nav-link-apple {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }
  header .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  header .nav-list-larger {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  header .nav-list-larger .nav-item {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  header .nav-list-larger .nav-item:nth-child(9) {
    border-bottom: none;
  }
  header.active .nav-list-larger {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  header.active .nav-link-bag {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  header.active .nav-list-larger .nav-item {
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  /************ FOOTER ************/
  footer {
    /************ SECOND CONTENT ************/
    /************ THRID CONTENT ************/
  }
  footer .second-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .sub-content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  footer .sub-content-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d7;
  }
  footer .sub-content-section ~ .sub-content-section {
    padding-top: 0;
  }
  footer .sub-content .footer-list {
    visibility: hidden;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  footer .sub-content .footer-list-item {
    padding-bottom: 0;
  }
  footer .sub-content .footer-list-item a {
    display: block;
    padding: 0.6rem 1.4rem;
  }
  footer label h3 {
    position: relative;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 2;
    background-color: #f5f5f7;
  }
  footer label h3::after {
    content: "+";
    float: right;
    font-size: 1.4rem;
    margin-top: -2px;
    margin-right: 0.8rem;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  footer .toggle-box {
    display: none;
  }
  footer .toggle-box:checked ~ label ~ .footer-list {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
            transform: none;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  footer .toggle-box:checked ~ label h3::after {
    -webkit-transform: rotate(45deg) scale(1.08);
            transform: rotate(45deg) scale(1.08);
  }
  footer .third-content {
    padding-top: 17px;
  }
  footer .footer-shop {
    padding-bottom: 8px;
    margin-bottom: 7px;
    border: none;
  }
  footer .footer-legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-legal-links {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-legal-links a {
    margin-top: 5px;
  }
  footer .footer-locale {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 735px) {
  .hero {
    --content-height: 50rem;
  }
  .iphone-11-pro {
    background-image: url(images/hero/iphone-11-pro/iphone-11-pro-small.jpg);
  }
  .iphone-11 {
    background-image: url(images/hero/iphone-11/iphone11-small.jpg);
  }
  .watch {
    background-image: url(images/hero/watch/watch-5-small.jpg);
  }
  .watch h3 {
    line-height: 2.7rem;
  }
  .title {
    padding-top: 3.7rem;
  }
  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  .title-price {
    font-size: 1.4rem;
  }
  .title-heading-watch {
    margin-top: -0.5rem;
  }
  .cta {
    margin-top: 0.7rem;
  }
  .cta-link {
    font-size: 1.9rem;
  }
  .collection section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 51.2rem;
    border-width: 6px 0;
  }
  .collection section:nth-child(odd) {
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .collection section:nth-child(even) {
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .collection .apple-watch-studio {
    background-image: url(images/hero/watchseries-card/watch-series-small.jpg);
  }
  .collection .apple-watch-studio h5 {
    width: 20.2rem;
  }
  .collection .ipad-studio {
    background-image: url(images/hero/ipad-card/ipad-small.jpg);
  }
  .collection .tv {
    background-image: url(images/hero/tv-card/tv-monster-large.jpg);
  }
  .collection .credit-card {
    background-image: url(images/hero/applecard-card/card-small.jpg);
  }
  .collection .credit-card h5 {
    max-width: 35rem;
  }
  .collection .arcade {
    background-image: url(images/hero/arcade-card/arcade-small.jpg);
  }
  .collection .macbook {
    background-image: url(images/hero/macbook-pro-card/macbook-pro-small.jpg);
  }
  .collection .flex-title-heading {
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 3.7rem;
  }
  .collection .flex-title-sub-heading {
    font-size: 1.9rem;
    margin-top: 9px;
  }
  .collection .flex-title-heading-ipad {
    height: 5.8rem;
    background: url(images/hero/ipad-card/ipad-medium-logo.png) center no-repeat;
    background-size: 76px 58px;
    margin-top: 3.3rem;
  }
  .collection .flex-title-heading-card {
    height: 2.6rem;
    background-size: 19.7rem 2.6rem;
    margin-top: 4.1rem;
  }
  .collection .flex-title-heading-arcade {
    height: 3rem;
    background-size: 12.7rem 3rem;
    margin-top: 4.1rem;
  }
  .collection .flex-title-heading-tv {
    height: 2.6rem;
    background-size: 5.9rem 2.6rem;
    margin-top: 4.5rem;
  }
  .collection .flex-title-sub-heading-tv {
    height: 4.9rem;
    background-size: 15.8rem 4.9rem;
  }
  .collection .tv .sub-flex-title {
    margin: 1.36rem 0 3.5rem;
  }
  .collection .flex-cta {
    margin-top: 1.26rem;
  }
  .collection .flex-cta-link {
    font-size: 1.7rem;
  }
  .collection .flex-cta-link:nth-child(2) {
    margin-left: 2.6rem;
  }
  .collection .flex-cta-link span {
    padding-left: 6px;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */